# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
*.aux
*.aux
*.aux
*.bbl
*.aux
*.aux
*.bbl
reports/Project Proposal/proj_proposal.aux
reports/Project Proposal/proj_proposal.bbl
reports/Project Proposal/proj_proposal.blg
reports/Project Proposal/proj_proposal.fdb_latexmk
reports/Project Proposal/proj_proposal.fls
reports/Project Proposal/proj_proposal.log
reports/Project Proposal/proj_proposal.pdf
reports/Project Proposal/proj_proposal.synctex.gz
